%div.col-md-10.col-md-offset-1
  %div.col-md-8
    %h2= @title
  %div.col-md-4
    %div.btn-group.pull-right
      %a.btn.btn-default{href:"/balance"} Back

%div.row{style: "margin-top:50px;"}
  %div.col-md-10.col-md-offset-1
    %table.table.table-bordered
      %thead
        %tr
          %th Date
          %th Amount
          %th Target
          %th Reason
          %th User
      %tbody
        - @transactions.each do |t|
          %tr{style: "background-color: #{t.user.color}"}
            %td= t.date.strftime("%d/%m/%Y")
            %td
              %strong{class: t.income? ? "income" : "expense" }= t.amount
            %td= t.target
            %td= t.reason
            %td= t.user.name
      %tfoot{style: "border-top: 2px solid black;"}
        - @transactions.group_by{|t| t.user.name}.each do |g|
          %tr{style: "background-color: #{g[1][0].user.color}"}
            %td= g[0]
            %td
              - result = g[1].inject(0){|sum,t| sum += t.amount}
              %strong{class: (result > 0) ? "income" : "expense" }= result
            %td
            %td
            %td

        %tr
          %td Total
          %td
            - tot = @transactions.inject(0){|sum,t| sum += t.amount}
            %strong{class: (tot > 0) ? "income" : "expense" }= tot
          %td
          %td
          %td
