%div.row
  %div.col-md-6.col-md-offset-3
    %table.well.table{style: "font-size:200%;"}
      %thead
        %tr
          %td
          %td Expenses
          %td ±
      %tbody
        - User.each do |user|
          %tr
            %td= user.name
            %td
              %strong= @stats[user.id][:expenses]
            %td
              %strong{class: @stats[user.id][:difference] >= 0 ? "income" : "expense" }= @stats[user.id][:difference]

%div.row{style: "margin-top:50px;"}
  %div.col-md-10.col-md-offset-1
    %table.table.table-bordered.table-striped
      %thead
        %tr
          %th Date
          %th Amount
          %th Target
          %th Reason
          %th User
      %tbody
        - @transactions.each do |t|
          %tr
            %td= t.date.strftime("%d/%m/%Y")
            %td
              %strong{class: t.income? ? "income" : "expense" }= t.amount
            %td= t.target
            %td= t.reason
            %td= t.user.name
