%div.row
  %div.col-md-6.col-md-offset-3
    %table.well.table{style: "font-size:200%;"}
      %thead
        %tr
          %td
          %td Expenses
          %td ±
      %tbody
        - User.each do |user|
          %tr
            %td= user.name
            %td
              %strong= @stats[user.id][:expenses]
            %td
              %strong{class: @stats[user.id][:difference] >= 0 ? "income" : "expense" }= @stats[user.id][:difference]

%div.row
  %div.col-md-2.col-md-offset-5
    %a.btn.btn-success{href: "/balance/all"} All shared transactions
%div.row{style: "margin-top:40px;"}
  %div.col-md-6.col-md-offset-3
    - @month_names_count.each do |e|
      %div.col-md-3
        %a.btn.btn-primary{href: "#{e[:url]}"}
          = "#{e[:name]}"
          %span.badge= "#{e[:count]}"
