- if @user
  %div.col-md-10.col-md-offset-1
    %div.col-md-6
      %h2 Transactions
    %div.col-md-6.pull-right
      %div.btn-group
        %a.btn.btn-warning{href: "/transaction/bulk_edit"}
          Bulk edit
          %span.glyphicon.glyphicon-th-list
        %a.btn.btn-primary{href: "/transaction/add"}
          Add transaction
          %span.glyphicon.glyphicon-plus
        %a.btn.btn-success{href: "/transaction/import"}
          Import transactions
          %span.glyphicon.glyphicon-upload
  %div.col-md-10.col-md-offset-1
    %table.table.table-bordered.table-striped
      %thead
        %tr
          %th Date
          %th Amount
          %th Target
          %th Reason
          %th Shared?
          %th Actions
      %tbody
        - @user.transactions.sort_by(&:date).each do |t|
          %tr
            %td= t.date.strftime("%d/%m/%Y")
            %td
              - if t.amount >= 0
                %strong{style:"color:limegreen"}= t.amount
              - else
                %strong{style: "color:orangered"}= t.amount
            %td= t.target
            %td= t.reason
            %td.text-center
              - if t.shared
                %span.glyphicon.glyphicon-ok
              - else
                %span.glyphicon.glyphicon-remove
            %td
              %form{action: "/transaction/#{t.id}", method: "post", class:"btn-group"}
                -# , onsubmit: "return confirm('Are you sure you want to delete?');"}
                %a{href: "/transaction/#{t.id}", class:"btn btn-primary"}
                  %span.glyphicon.glyphicon-pencil
                %input{name: "_method", type: "hidden", value: "delete"}
                %button{type:"submit", class:"btn btn-danger"}
                  %span.glyphicon.glyphicon-trash

- else
  %div.alert.alert-warning Please select a user from the dropdown
