- if @user
  %div.col-md-10.col-md-offset-1
    %div.col-md-6
      %h2 Transactions
    %div.col-md-6.pull-right
      %div.btn-group
        %a.btn.btn-warning{href: "/transaction/bulk_edit"}
          Bulk edit
          %span.glyphicon.glyphicon-th-list
        %a.btn.btn-primary{href: "/transaction/add"}
          Add transaction
          %span.glyphicon.glyphicon-plus
        %a.btn.btn-success{href: "/transaction/csv"}
          Import/Export
          %span.glyphicon.glyphicon-upload
      %div.pull-right{style:"margin-top:20px;"}
        - if @last_import
          Last imported transaction:
          = @last_import.strftime("%d/%m/%Y")
          %div.col-md-10.col-md-offset-1{style:"margin-top:20px;"}
    %table.table.table-bordered.table-striped
      %thead
        %tr
          %th Date
          %th Amount
          %th Target
          %th Reason
          %th Shared?
          %th Actions
      %tbody
        - @transactions_by_year_month.each do |year,t_by_month|
          - t_by_month.each do |month,transactions|
            - transactions.each do |t|
              %tr
                %td= t.date.strftime("%d/%m/%Y")
                %td
                  %strong{class: t.income? ? "income" : "expense" }= t.amount
                %td= t.target
                %td= t.reason
                %td.text-center
                  %button.btn.btn-default.shared-icon{class: t.shared ? "glyphicon glyphicon-ok" : "glyphicon glyphicon-remove", data: {url: "/transaction/#{t.id}/toggle_shared", shared: "#{t.shared}"}}
                %td
                  %a{href: "/transaction/#{t.id}", class:"btn btn-primary"}
                    %span.glyphicon.glyphicon-pencil
                  %form{action: "/transaction/#{t.id}", method: "post", class:"btn-group"}
                    -# , onsubmit: "return confirm('Are you sure you want to delete?');"}
                    %input{name: "_method", type: "hidden", value: "delete"}
                    %button{type:"submit", class:"btn btn-danger"}
                      %span.glyphicon.glyphicon-trash
            %tr.info
              %td
                %strong=  Date.parse("#{year}-#{month}-01").strftime("%B %Y")
                %td
                  - balance = @transactions_by_year_month[year][month].map(&:amount).sum.round(2)
                  %strong{class: balance >= 0 ? "income" : "expense" }= balance
                %td{colspan: 4}
                  - shared_balance = @transactions_by_year_month[year][month].select(&:shared).map(&:amount).sum
                  %strong Shared:
                  %strong{class: shared_balance >= 0 ? "income" : "expense" }= shared_balance
          %tr.success
            %td
              %strong=  "Total #{year}"
              %td
                - balance = @transactions_by_year_month[year].values.flatten.map(&:amount).sum
                %strong{class: balance >= 0 ? "income" : "expense" }= balance
              %td{colspan: 4}
                - shared_balance = @transactions_by_year_month[year].values.flatten.select(&:shared).map(&:amount).sum
                %strong Shared:
                %strong{class: shared_balance >= 0 ? "income" : "expense" }= shared_balance
- else
  %div.alert.alert-warning Please select a user from the dropdown

%script{src: "home.js", type: "text/javascript"}
