- if @user
  %div.col-md-8.col-md-offset-2
    %h2 Transactions
  %div.col-md-8.col-md-offset-2
    %table.table.table-bordered.table-striped
      %thead
        %tr
          %th Id
          %th Date
          %th Amount
          %th Target
          %th Reason
          %th Actions
      %tbody
        - @user.transactions.each do |t|
          %tr
            %td= t.id
            %td= t.date
            %td= t.amount
            %td= t.target
            %td= t.reason
            %td.text-center
              - if t.shared
                %span.glyphicon.glyphicon-ok
              - else
                %span.glyphicon.glyphicon-remove
            %td
              %form{action: "/transaction/#{t.id}", method: "post", class:"btn-group"}
                -# , onsubmit: "return confirm('Are you sure you want to delete?');"}
                %a{href: "/transaction/#{t.id}/edit", class:"btn btn-primary"}
                  %span.glyphicon.glyphicon-pencil
                %input{name: "_method", type: "hidden", value: "delete"}
                %button{type:"submit", class:"btn btn-danger"}
                  %span.glyphicon.glyphicon-trash
  %div.col-md-1
    %a.btn.btn-primary{href: "/transaction/add", style: "margin-bottom:10px;"}
      Add transaction
      %span.glyphicon.glyphicon-plus
    %a.btn.btn-success{href: "/transaction/import"}
      Import transactions
      %span.glyphicon.glyphicon-upload
- else
  %div.alert.alert-warning Please select a user from the dropdown
