!!!
%html
  %head
    %meta{:charset => "utf-8"}
    %title Kroisos
    %link{href: "//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css", rel: "stylesheet"}
    %link{href: "#{url("style.css")}", type:"text/css", rel: "stylesheet"}
    -# %link{href: "#{url("bootstrap.min.css")}", type:"text/css", rel: "stylesheet"}
  %body
    -# navigation styled for Bootstrap 3.0
    %nav.navbar.navbar-inverse{style: "border-radius:0"}
      %div.navbar-header
        %a{href: "/", class: "navbar-brand"} Kroisos
        %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
          %span.sr-only Toggle navigation
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
      %div.navbar.nav.navbar-right
        %form{action: "/select_user", method: "post", class:"navbar-form"}
          %select.form-control{onchange: "submit()", name: "user_select"}
            %option Select user
            - User.all.each do |user|
              - if user.id == session[:user]
                %option{selected: true}
                  = user.name
              - else
                %option= user.name
    %div.container
      = yield
