!!!
%html
  %head
    %meta{:charset => "utf-8"}
    %title Kroisos
    %link{href: "//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css", rel: "stylesheet"}
    %script{src:"//code.jquery.com/jquery-1.11.0.min.js"}
    %script{src:"//code.jquery.com/jquery-migrate-1.2.1.min.js"}
    %link{href: "#{url("style.css")}", type:"text/css", rel: "stylesheet"}
    -# %link{href: "#{url("bootstrap.min.css")}", type:"text/css", rel: "stylesheet"}
  %body
    -# navigation styled for Bootstrap 3.0
    %nav.navbar.navbar-inverse{style: "border-radius:0"}
      %div.navbar-header
        %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
          %span.sr-only Toggle navigation
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        %a{href: "/", class: "navbar-brand"} Kroisos

      %div.collapse.navbar-collapse
        %ul.nav.navbar-nav
          %li
            %a{href:"/balance"} Balance


        %div.navbar-right
          %form{action: "/select_user", method: "post", class:"navbar-form"}
            %select.form-control{onchange: "submit()", name: "user_select"}
              %option Select user
              - User.all.each do |user|
                - if user.id == session[:user]
                  %option{selected: true}
                    = user.name
                - else
                  %option= user.name
    %div.container
      = yield
